{% extends "LksMemberManagementBundle::layout.html.twig" %}

{% block content %}
	<h2>Availibility listing</h2>
	<ul>
	{% for availibility in availibilities %}
		<li>{{ availibility.member.firstname|e }} : {{ availibility.availibilityDate|date("d/m/Y") }}</li>
	{% endfor %}
	</ul>
{% endblock %}


