{% extends "LksMemberManagementBundle::layout.html.twig" %}

{% block content %}
	<p>In this section we will generate our capacity planning</p>
	<a href="generate" class="btn btn-primary">Generate</a>
{% endblock %}


