<form action="{{ path("_security_check") }}" method="post" class="form-inline">
  <input type="text" class="input-small" placeholder="Firstname" name="_firstname">
  <input type="text" class="input-small" placeholder="Lastname" name="_lastname">
  <button type="submit" class="btn btn-primary">Add user</button>
</form>